<section class="container col-12-sm" id="blog-page">
    {{#with blog}}
    <h1 class="text-center">{{title}}</h1>
    <h3 class="text-center">Posted by {{user.username}} on {{format_date date}}</h3>

    <div>
        <p>{{body}}</p>
    </div>
    {{/with}}

    <hr />

    {{#if logged_in}}
    <form>
        <div class="form-group mb-2">
            <label for="commentInput mb-3">Leave a Comment</label>
            <input type="comment" class="form-control" id="comment-textbox" placeholder="Type your comment here.">
        </div>
        <button type="submit" class="btn btn-primary" id="post-comment" data-blogid="{{blog.id}}"
            data-bs-target="#empty-comment-modal">Post Comment</button>
    </form>
    {{/if}}

    {{#each blog.comments as |comment| }}
    {{#with comment}}
    <div class="card">
        <div class="card-header d-flex">
            <h5>Posted by {{user.username}} on {{format_date date}}</h5>
        </div>

        <div class="card-body">
            <p class="card-text">{{body}}</p>
            {{#unless logged_in}}
            {{!-- {{#unless user}} --}}
            {{!-- Edit Comment button --}}
            <a href="/comment/{{id}}" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#edit-comment-modal-{{id}}" id="edit-comment-btn" data-commentid="{{id}}">Edit
                Comment</a>
            {{!-- Delete Comment button --}}
            <a href="/comment/{{id}}" class="btn btn-primary" id="delete-comment-btn" data-bs-toggle="modal"
                data-bs-target="#delete-comment-modal-{{id}}" data-commentid="{{id}}">Delete Comment</a>
            {{!-- {{/unless}} --}}
            {{/unless}}
        </div>
    </div>
    {{/with}}
    {{/each}}

    {{!-- Empty comment modal --}}
    <div class="modal" tabindex="-1" id="empty-comment-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Empty Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Sorry, comments cannot be empty. Please add content to the text box and try posting again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="empty-comment-close-btn">OK</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Edit comment modal --}}
    {{#each blog.comments as |comment| }}
    {{#with comment}}
    <div class="modal" tabindex="-1" id="edit-comment-modal-{{id}}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="edit-comment-modal-content">
                <form>
                    <div class="form">
                        <label for="editContent" class="form-label">Comment Content</label>
                        <textarea class="form-control" id="edit-comment-body-{{id}}"
                            style="height: 100px">{{body}}</textarea>
                        <label for="floatingTextarea2"></label>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button onclick="updateComment(event)" class="btn btn-primary" id="update-comment-btn-{{id}}"
                        data-commentid="{{id}}">Update Comment</button>
                </form>
            </div>
        </div>
    </div>
    {{/with}}
    {{/each}}

    {{!-- Delete comment modal --}}
    {{#each blog.comments as |comment| }}
    {{!-- {{#each comment}} --}}
    {{#with comment }}
    <div class="modal modal-lg" tabindex="-1" id="delete-comment-modal-{{id}}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="delete-comment-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are You Sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="delete-comment-title-{{id}}">Are you sure you'd like to delete this comment?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ack! No!</button>
                    <button onclick="deleteComment(event)" type="button" class="btn btn-primary"
                        id="delete-comment-btn-{{id}}" data-commentid="{{id}}">Yes,
                        Delete.</button>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    {{/each}}

</section>