<section class="container col-12-sm" id="blog-page">
    {{#with blog}}
    <h1 class="text-center">{{title}}</h1>
    <h3 class="text-center">Posted by {{user.username}} on {{format_date date}}</h3>

    <div>
        <p>{{body}}</p>
    </div>
    {{/with}}

    <hr />

    {{#if logged_in}}
    <form>
        <div class="form-group mb-2">
            <label for="commentInput mb-3">Leave a Comment</label>
            <input type="comment" class="form-control" id="comment-textbox" placeholder="Type your comment here.">
        </div>
        <button type="submit" class="btn btn-primary" id="post-comment" data-blogid="{{blog.id}}"
            data-bs-target="#empty-comment-modal">Post Comment</button>
    </form>
    {{/if}}

    {{#each blog.comments as |comment| }}
    {{#with comment}}
    <div class="card">
        <h5 class="card-header">Posted by {{user.username}} on {{format_date date}}</h5>
        <div class="card-body">
            <p class="card-text">{{body}}</p>
        </div>
    </div>
    {{/with}}
    {{/each}}

    <div class="modal" tabindex="-1" id="empty-comment-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Empty Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Sorry, comments cannot be empty. Please add content to the text box and try posting again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="empty-comment-close-btn">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>