<section class="container col-12-sm" id="home">
    {{#each blogs as |blog| }}
    <div class="card col-10-sm">
        <div class="card-header d-flex">
            <h5 class="card-title">{{blog.title}}</h5>
            <span class="ms-auto text-right">Posted by {{user.username}} on {{format_date blog.date}}</span>
        </div>
        <div class="card-body">
            
            <p class="card-text">{{blog.body}}</p>
            <a href="/blog/{{blog.id}}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    {{/each}}
</section>